A Short Intro to Python and Pandas
===

##### Using USGS Benchmark Glacier Release Phase 1 Data
Adapted from '10 minutes to Pandas' : http://pandas.pydata.org/pandas-docs/stable/10min.html

**To use this tutorial, either**:
* Download the Short_Intro_to_Python_and_Pandas.ipynb file to your local machine, and open thru Anaconda and Jupyter Notebook from there, OR:

* Open a new Jupter Notebook, and copy-paste the commands you want to run over to a new location yourself. Git hub does not support execution of Python in-line (aka right here).

**_Important_**: To execute code in a cell, hit `shift` and  `enter`.

Results of the code in that cell then appear below. Pretty neat, eh?

Import **pandas** module. Comes pre-installed with Anaconda distribution of Python.

In [29]:
import pandas as pd #the 'as pd' portion means we can refer to module w/o typing full name (just pd)

Create series of numbers (or dates), save to object

In [33]:
s=[1,2,3,4,5,2000000000, 'A']

In [34]:
dates=pd.date_range('20140102', periods=6)

See an object you created

In [35]:
print(s)

[1, 2, 3, 4, 5, 2000000000, 'A']

Check size and type of an object

In [38]:
print(type(s)) #kind of object understood by python
print(len(s)) #length of list: here we have a single series with length 6

<type 'list'>
7

Read in an external CSV file (here, existing Mass Balance data)

In [40]:
df=pd.read_csv('https://raw.githubusercontent.com/ehbaker/Ice2ODocs/master/data/Gulkana_mbInput.txt', sep ='\t')

In [43]:
df[0:10] #This prints out the top 10 rows of the data frame (which are row indexes 0-9!)

,balance_year,site_name,date_1,date_2,z,winter,annual,winter_ablation(-),summer_accumulation(+)
0,1966,A,4/23/66,9/3/66,617,0.77,-3.62,NaN,0.00
1,1966,B,4/23/66,10/24/66,1084,1.01,-0.74,NaN,0.26
2,1966,C,4/23/66,10/24/66,1307,2.06,1.07,NaN,0.46
3,1967,A,5/26/67,10/4/67,616,0.39,-4.95,-1.30,0.00
4,1967,B,4/4/67,10/1/67,1083,0.88,NaN,0.00,NaN
5,1967,C,4/2/67,10/1/67,1307,1.95,NaN,0.00,NaN
6,1968,A,4/4/68,8/20/68,615,0.88,-3.08,-0.14,0.00
7,1968,B,6/5/68,8/21/68,1083,1.62,-0.95,0.00,0.00
8,1968,C,6/6/68,10/10/68,1307,2.36,0.78,0.00,0.34
9,1969,A,4/13/69,9/16/69,615,0.62,-2.08,NaN,0.00

**OK, we have this great stake data into Python ... now what??**

We can check what methods are available to act on an object by using dot notation and tab completion. 

Wait, what? Try it! Put your cursor in the cell below, and press the `tab` key. A list pops up of the different built-in functions that can act on that object. Pretty neat!

In [44]:
df.

SyntaxError: invalid syntax (<ipython-input-44-d230d845cd15>, line 1)

In [46]:
print(df.columns)

Index([u'balance_year', u'site_name', u'date_1', u'date_2', u'z', u'winter',
       u'annual', u'winter_ablation(-)', u'summer_accumulation(+)'],
      dtype='object')

In [68]:
#Let's get into the data a bit
#Pull out elecation
elevations=df['z']
#Find the max elevation
elevations.max(axis=0)

1373

You can see the functions inside a module in much the same way (e.g. "pd. tab")

In [ ]:
pd.

I personally think it is confusing that some functions are called with dot notation from objects (e.g. `df.columns`), while others are called independently of the object, and act upon it (e.g. `append(6, s)` ).

**Have questions? Ask Python itself!!: ** use a question mark

In [53]:
pd.read_csv?

Also, feel free to ping me, or check out the wide world of internet tutorials.

**Another hot tip**: to launch a console window simply run:

In [2]:
%qtconsole

You have to find the window that this launched in, but it is there somewhere on your screen. Test by typing `pd` into the console, and checking that the table is printed.